.ig-canvas-with-hole {
  z-index: 2000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ig-infobox {
  position: absolute;
  padding: 1em;
  z-index: 2001;
}
.ig-infobox .btn-group {
  margin-top: 1em;
}
